<footer id="footer">
    <div class="footer-wrapper">
        <div class="footer-logo">
            <a class="footer-brand " routerLink="/home"><img src='../../../assets/images/serenity.png' width="50px"></a>
            <p class="footer-logo-text"><span>Serenity</span><br>Care Services</p>
        </div>
        <div class="footer-company">
            <ul class="footer-links">
                <li class="link-header">Our Company</li>
                <li><a class="link" routerLink="/about-us" routerLinkActive="itemActive">About Us</a></li>
                <li> <a class="link" routerLink="/services" routerLinkActive="itemActive">Services</a></li>
                <li> <a class="link" routerLink="/careers" routerLinkActive="itemActive">Careers</a></li>
                <li><a class="link" routerLink="/faq" routerLinkActive="itemActive">FAQ</a></li>
            </ul>
        </div>
        <div class="footer-solutions">
            <ul class="footer-links">
                <li class="link-header">Patient Hub</li>
                <li><a class="link" routerLink="/about-us" routerLinkActive="itemActive">Patient Portal</a></li>
                <li> <a class="link" routerLink="/services" routerLinkActive="itemActive">Book Labs and Screenings</a></li>
                <li> <a class="link" routerLink="/careers" routerLinkActive="itemActive">Find a Location</a></li>
                <li><a class="link" routerLink="/faq" routerLinkActive="itemActive">FAQ</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <p class="link-header">Follow us</p>
            <div class="icons">
                <img src="../../../assets/images/instagram.png" alt="">
                <img src="../../../assets/images/linkedin.png" alt="">
            </div>

        </div>
    </div>
    <div class="privacy-policy">
        <p>Privacy Policy & Cookie Policy</p>
        <p>Terms & Conditions</p>
        <p>2024. Serenity Care Services</p>
    </div>

</footer>