$blue: #0d2851;
$purple: #4747A1;
$lpurple: #7978E9;
$pink: #F3797E;
#footer {
    background-color: $blue;
    border-radius: 10px 10px 0px 0px;
    .footer-wrapper {
        box-shadow: 0 -1px #d2e3fd71 inset;
        padding: 6vh 0vw 10vh 0vw;
        margin: 0 auto;
        max-width: 86vw;
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        @media (max-width: 425px) {
            flex-direction: column;
            padding-bottom: 6vh;
        }
        .footer-logo {
            color: white;
            display: flex;
            align-items: flex-start;
            column-gap: 0.6vw;
            p {
                padding: 0;
                margin: 0;
                font-size: 12px;
                font-weight: 300;
                span {
                    font-size: 26px;
                    font-weight: 600;
                }
            }
        }
        .footer-company,
        .footer-solutions {
            .footer-links {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                text-align: left;
                text-decoration: none;
                @media (max-width: 425px) {
                    padding: 0;
                    margin-top: 2vh;
                }
                .link-header {
                    color: rgba(255, 255, 255, 0.689);
                    font-size: 16px;
                    list-style-type: none;
                    padding-bottom: 2vh;
                    @media (max-width: 425px) {
                        padding-bottom: 0;
                    }
                }
                .link {
                    text-decoration: none;
                    color: white;
                    font-weight: 500;
                    justify-content: center;
                    text-align: center;
                    position: relative;
                    display: inline-block;
                    font-size: 16px;
                    padding: 0.8vh 0;
                    &::after {
                        z-index: 3;
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        height: 0.8px;
                        /* Adjust height as needed */
                        width: 0;
                        background-color: #378fec;
                        /* Adjust color as needed */
                        transition: width 0.5s ease;
                    }
                }
            }
        }
        .footer-social {
            display: flex;
            flex-direction: column;
            .link-header {
                color: rgba(255, 255, 255, 0.689);
                font-size: 16px;
                list-style-type: none;
                padding-bottom: 2vh;
                @media (max-width: 425px) {
                    padding: 0;
                }
            }
            .icons {
                column-gap: 6px;
                img {
                    padding-right: 6px;
                    height: 3vh;
                    filter: invert(1);
                }
            }
        }
    }
    .privacy-policy {
        max-width: 86vw;
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: white;
        align-items: center;
        margin: 0 auto;
        height: auto;
        p {
            padding: 3vh 0;
            margin: 0;
        }
    }
}