<app-navbar></app-navbar>

<div class="careers {{light}}">
    <div class="careers-container">
        <!-- <button class="dark-mode-toggle" (click)="toggleNav()">
            <span class="sun">
                <img alt="sun icon that represents light mode" width="35px" src="../../../assets/images/sun.svg">
            </span>
            <span class="moon">
                <img alt="moon icon to represent dark mode " width="25px" src="../../../assets/images/moon.svg">
            </span>
        </button> -->


        <div class="careers-hero row align-items-center rows">

            <div class="careers-hero-content">
                <div class="left-side">
                    <div class="image-container">
                        <div class="left">
                            <img src="https://images.pexels.com/photos/5452284/pexels-photo-5452284.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Image 1" class="expand-image">
                            <img src="https://images.pexels.com/photos/8942517/pexels-photo-8942517.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Image 2" class="expand-image">
                            <img src="https://images.pexels.com/photos/18255101/pexels-photo-18255101/free-photo-of-smiling-woman-in-dress-and-jacket-posing-on-street.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Image 2" class="expand-image">

                        </div>
                        <div class="right">
                            <img src="https://images.pexels.com/photos/8460157/pexels-photo-8460157.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Image 1" class="expand-image">
                            <img src="https://images.pexels.com/photos/5722162/pexels-photo-5722162.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Image 2" class="expand-image">
                        </div>
                    </div>

                </div>

                <div class="right-side ">

                    <h2>We are a team of <br><span>healthcare experts</span></h2>
                    <p>
                        Focus on improving patient care while reducing operational costs. Transform your services with high-quality healthcare outsourcing solutions.
                    </p>

                </div>

            </div>

        </div>


        <div class="use-cases-wrapper" id="h">
            <div class="use-cases">
                <!-- <div class="wave"><img src="../../../assets/images/wave-alt.png" alt="Background Image"></div> -->

                <div class="use-cases-scroll-left">
                    <h2 class="use-cases-title">Our values</h2>
                    <div class="use-cases-anchors">
                        <a href="#humility">Humility</a>
                        <a href="#clarity">Clarity</a>
                        <a href="#ownership">Ownership</a>
                        <a href="#empowerment">Empowerment</a>
                        <a href="#courage">Courage</a>
                    </div>
                    <div class="cases">
                        <div class="case" id="humility">
                            <div class="case-header">
                                <h3>Humility</h3>
                                <p>01</p>
                            </div> <img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/657b4d31725732ca2c09c39e_data-collection.svg" alt="Our Approach Image">

                            <p>We eagerly engage on any important activity where success depends on our contribution while acknowledging and owning our mistakes and asking for assistance when necessary.</p>
                        </div>
                        <div class="case" id="clarity">
                            <div class="case-header">
                                <h3>Clarity</h3>
                                <p>02</p>
                            </div> <img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/657b4d81ef0fd3cfad534ea1_machine-learning.svg" alt="Our Approach Image">

                            <p>We are clear about our plans, decisions, and actions and we raise issues and concerns whenever they occur.</p>
                        </div>
                        <div class="case" id="ownership">
                            <div class="case-header">
                                <h3>Ownership</h3>
                                <p>03</p>
                            </div> <img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/657b4ddee1a2d11d41368e14_KYC.svg" alt="Our Approach Image">

                            <p>We own the success of our projects, and take full responsibility for our actions and decisions, while learning from our failures.</p>
                        </div>
                        <div class="case" id="empowerment">
                            <div class="case-header">
                                <h3>Empowerment</h3>
                                <p>04</p>
                            </div> <img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/657b4c7cd859d83abfbfd4e8_data-risk.svg" alt="Our Approach Image">

                            <p>We empower ourselves and one another by maintaining a balance between acknowledging accomplishments and seeing opportunities for improvement.</p>
                        </div>
                        <div class="case" id="courage">
                            <div class="case-header">
                                <h3>Courage</h3>
                                <p>05</p>
                            </div> <img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/658f27fd98cc4bb0e9be7dd2_analytics_illustration.svg" alt="Our Approach Image">

                            <p>We understand our passions and strengths and go with what we find interesting when choosing projects or tasks while demonstrating a can-do attitude towards challenges.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="join-wrapper">
            <div class="left-side">
                <h2>Join our team </h2>
            </div>
            <div class="jobs">
                <div class="item">
                    <h2 class="job-header">Financial Data Analyst
                    </h2>
                    <a (click)="navToElement('r')" class="a-link ">
                        <button class="know-button ">
                            Apply
                        </button>
                    </a>
                </div>
                <div class="item">
                    <h2 class="job-header">Senior Content Manager
                    </h2>
                    <a (click)="navToElement('r')" class="a-link ">
                        <button class="know-button ">
                            Apply
                        </button>
                    </a>
                </div>
                <div class="item">
                    <h2 class="job-header">Unit Coordinator, Content Team
                    </h2>
                    <a (click)="navToElement('r')" class="a-link ">
                        <button class="know-button ">
                            Apply
                        </button>
                    </a>
                </div>
                <div class="item">
                    <h2 class="job-header">Content Manager
                    </h2>
                    <a (click)="navToElement('r')" class="a-link ">
                        <button class="know-button ">
                            Apply
                        </button>
                    </a>
                </div>

            </div>



        </div>





    </div>
</div>

<app-footer></app-footer>