<app-navbar></app-navbar>

<div class="careers {{light}}">
    <div class="careers-container">
        <!-- <button class="dark-mode-toggle" (click)="toggleNav()">
            <span class="sun">
                <img alt="sun icon that represents light mode" width="35px" src="../../../assets/images/sun.svg">
            </span>
            <span class="moon">
                <img alt="moon icon to represent dark mode " width="25px" src="../../../assets/images/moon.svg">
            </span>
        </button> -->


        <div class="careers-hero row align-items-center rows">

            <div class="careers-hero-content">
                <div class="left-side">
                    <div class="image-container">
                        <img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/6595a75d2740e3bbaa9fa599_3838%201-p-500.png" alt="Image 1" class="expand-image">
                        <img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/6595a75d2740e3bbaa9fa599_3838%201-p-500.png" alt="Image 2" class="expand-image">
                        <img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/6595a75d2740e3bbaa9fa599_3838%201-p-500.png" alt="Image 3" class="expand-image">
                    </div>

                </div>

                <div class="right-side ">

                    <h2>We are a team of<br><span>data enthusiasts</span></h2>
                    <p>
                        Focus on scaling your business while minimizing costs. Transform your data into a strategic asset with Claro's high-quality outsourcing services.
                    </p>

                </div>

            </div>

        </div>


        <div class="use-cases-wrapper" id="h">
            <div class="use-cases">
                <!-- <div class="wave"><img src="../../../assets/images/wave-alt.png" alt="Background Image"></div> -->

                <div class="use-cases-scroll-left">
                    <h2 class="use-cases-title">Our values</h2>
                    <div class="use-cases-anchors">
                        <a href="#humility">Humility</a>
                        <a href="#clarity">Clarity</a>
                        <a href="#ownership">Ownership</a>
                        <a href="#empowerment">Empowerment</a>
                        <a href="#courage">Courage</a>
                    </div>
                    <div class="cases">
                        <div class="case"><img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/657b4c7cd859d83abfbfd4e8_data-risk.svg" alt="Our Approach Image">
                            <h3>Data and Risk Monitoring</h3>
                            <p>Notice meaningful changes in your sets of data as we track them by criteria that are relevant to your business.</p>
                        </div>
                        <div class="case"><img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/657b4c7cd859d83abfbfd4e8_data-risk.svg" alt="Our Approach Image">
                            <h3>Data and Risk Monitoring</h3>
                            <p>Notice meaningful changes in your sets of data as we track them by criteria that are relevant to your business.</p>
                        </div>
                        <div class="case"><img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/657b4c7cd859d83abfbfd4e8_data-risk.svg" alt="Our Approach Image">
                            <h3>Data and Risk Monitoring</h3>
                            <p>Notice meaningful changes in your sets of data as we track them by criteria that are relevant to your business.</p>
                        </div>
                        <div class="case"><img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/657b4c7cd859d83abfbfd4e8_data-risk.svg" alt="Our Approach Image">
                            <h3>Data and Risk Monitoring</h3>
                            <p>Notice meaningful changes in your sets of data as we track them by criteria that are relevant to your business.</p>
                        </div>
                        <div class="case"><img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/657b4c7cd859d83abfbfd4e8_data-risk.svg" alt="Our Approach Image">
                            <h3>Data and Risk Monitoring</h3>
                            <p>Notice meaningful changes in your sets of data as we track them by criteria that are relevant to your business.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="join-wrapper">
            <div class="left-side">
                <h2>Join our team </h2>
            </div>
            <div class="jobs">
                <div class="item">
                    <h2 class="job-header">Financial Data Analyst
                    </h2>
                    <a (click)="navToElement('r')" class="a-link ">
                        <button class="know-button ">
                            Apply
                        </button>
                    </a>
                </div>
                <div class="item">
                    <h2 class="job-header">Senior Content Manager
                    </h2>
                    <a (click)="navToElement('r')" class="a-link ">
                        <button class="know-button ">
                            Apply
                        </button>
                    </a>
                </div>
                <div class="item">
                    <h2 class="job-header">Unit Coordinator, Content Team
                    </h2>
                    <a (click)="navToElement('r')" class="a-link ">
                        <button class="know-button ">
                            Apply
                        </button>
                    </a>
                </div>
                <div class="item">
                    <h2 class="job-header">Content Manager
                    </h2>
                    <a (click)="navToElement('r')" class="a-link ">
                        <button class="know-button ">
                            Apply
                        </button>
                    </a>
                </div>

            </div>



        </div>





    </div>
</div>

<app-footer></app-footer>