<app-navbar></app-navbar>

<div class="faq {{light}}">
    <div class="faq-container">
        <!-- <button class="dark-mode-toggle" (click)="toggleNav()">
            <span class="sun">
                <img alt="sun icon that represents light mode" width="35px" src="../../../assets/images/sun.svg">
            </span>
            <span class="moon">
                <img alt="moon icon to represent dark mode " width="25px" src="../../../assets/images/moon.svg">
            </span>
        </button> -->


        <div class="faq-hero row align-items-center rows">

            <div class="hero-content">
                <div class="left-side">
                    <h2>FAQ</h2>
                </div>
                <div class="accord">
                    <div class="accordion-item">
                        <div class="accordion-header">What services does Serenity Care Services provide?</div>
                        <div class="accordion-content">
                            <p>Serenity Care Services offers a wide range of healthcare services, including in-home nursing care, personal care assistance, physical therapy, medication management, and specialized care for chronic conditions. We are dedicated
                                to providing compassionate, personalized care to meet the unique needs of each patient.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header">How do I get started with Serenity Care Services?</div>
                        <div class="accordion-content">
                            <p>Getting started is easy! Simply contact us via phone or through our website’s contact form. We’ll schedule an initial consultation to discuss your healthcare needs and develop a customized care plan tailored to you or your
                                loved one’s requirements.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header">Are your caregivers licensed and insured?
                        </div>
                        <div class="accordion-content">
                            <p>Yes, all of our caregivers are fully licensed, insured, and undergo rigorous background checks. We ensure that our team members are not only highly qualified but also compassionate and committed to providing the highest quality
                                of care.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header">Do you provide 24/7 care services?</div>
                        <div class="accordion-content">
                            <p>Yes, Serenity Care Services offers 24/7 care services, including overnight and live-in care. Whether you need round-the-clock assistance or just a few hours a day, we can accommodate your needs with flexible scheduling options.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header">How is the cost of care determined?</div>
                        <div class="accordion-content">
                            <p>The cost of care depends on the type and frequency of services required. During our initial consultation, we’ll assess your needs and provide a detailed quote. We strive to offer affordable care solutions and work with various
                                insurance providers to help cover costs.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header">Can I change my care plan if my needs change?</div>
                        <div class="accordion-content">
                            <p>Absolutely. At Serenity Care Services, we understand that healthcare needs can evolve over time. We regularly review and adjust care plans to ensure that you receive the appropriate level of care. Just contact us, and we’ll
                                make the necessary changes to your plan. </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header">How do you ensure the quality of care provided?</div>
                        <div class="accordion-content">
                            <p>We maintain the highest standards of care by regularly training our caregivers and conducting routine evaluations. We also encourage open communication with our clients and their families to ensure that we consistently meet
                                and exceed expectations.</p>
                        </div>
                    </div>
                </div>



            </div>

        </div>
    </div>
</div>

<app-footer></app-footer>