.dark-mode-toggle {
  position: absolute;
  top: 75px;
  right: 30px;
  margin-top: 5px;
  padding: 10px 20px;
  display: flex;
  cursor: pointer;
  border: none;
  background-color: #fff;
  z-index: 2;
}

.case {
  font-size: 45px;
}

.dark-mode-toggle .fa-sun {
  color: #ffbb52;
  display: inline-block;
}

.dark-mode-toggle .fa-moon {
  color: #fff;
  display: none;
}

.dark-mode-toggle .sun {
  display: inline-block;
  padding: 5px;
}

.dark-mode-toggle .moon {
  display: none;
  padding: 10px;
}

.faq {
  overflow: hidden;
  padding: 0vh 0vw;
}
.faq .faq-hero {
  height: 85vh;
  overflow: hidden;
}
.faq .faq-hero .hero-content {
  padding-top: 20vh;
  height: 100%;
  color: #0d2851;
  position: relative;
  top: 0;
  display: flex;
  flex-direction: row;
  max-width: 87vw;
  margin: 0 auto;
  z-index: 2;
  font-weight: 400;
}
.faq .faq-hero .hero-content .left-side {
  width: 50vw;
  text-align: left;
}
.faq .faq-hero .hero-content .left-side h2 {
  font-size: 80px;
  line-height: 78px;
  font-weight: 600;
}
.faq .faq-hero .hero-content .accord {
  width: 100%;
  max-width: 60vw;
  margin: 0 auto;
  overflow: hidden;
  border-bottom: 0 !important;
}
.faq .faq-hero .hero-content .accord .accordion-item {
  padding: 6px 0;
  border-bottom: 1px solid #ddd;
}
.faq .faq-hero .hero-content .accord .accordion-item .accordion-header {
  border-radius: 10px;
  font-size: 22px;
  background-color: #ffffff;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}
.faq .faq-hero .hero-content .accord .accordion-item .accordion-header:hover {
  background-color: rgba(176, 227, 251, 0.3450980392);
}
.faq .faq-hero .hero-content .accord .accordion-item .accordion-content {
  font-size: 16px;
  display: none;
  /* Initially hide the content */
  overflow: hidden;
  padding: 0 15px;
  background-color: #fff;
  border-top: 1px solid #ddd;
}
.faq .faq-hero .hero-content .accord .accordion-item .accordion-content p {
  margin: 15px 0;
}
.faq .approach-wrapper {
  padding-top: 13vh;
  padding-bottom: 13vh;
  justify-content: flex-start;
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  max-width: 86vw;
}
.faq .approach-wrapper .block-name {
  height: 100%;
  width: 13vw;
}
.faq .approach-wrapper .block-name .block-title p {
  font-size: 17px;
  font-weight: 300;
}
.faq .approach-wrapper-center {
  width: 43vw;
  grid-column-gap: 150px;
  grid-row-gap: 150px;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  z-index: 2;
  height: 85%;
  color: #0d2851;
}
.faq .approach-wrapper-center h2 {
  font-size: 46px;
  font-weight: 400;
  line-height: 54px;
}
.faq .approach-wrapper-center h2 span {
  color: #03a9f4;
}
.faq .approach-wrapper-center p {
  font-size: 17px;
  font-weight: 300;
  line-height: 26px;
}
.faq .approach-wrapper-right {
  width: 44vw;
}
.faq .approach-wrapper-right img:nth-child(1) {
  position: relative;
  z-index: 1;
  right: 4vw;
  width: 140%;
  box-shadow: inset 0 0 20px white;
  /* Adjust values as needed */
  /* Adjust values as needed */
}
.faq .use-cases-wrapper {
  overflow: hidden;
  padding-top: 13vh;
  padding-bottom: 13vh;
  height: 100vh;
  background-color: #0d2851;
  color: white;
}
.faq .use-cases-wrapper .wave img {
  position: absolute;
  width: 70%;
  z-index: 0;
  top: 40%;
  right: 50%;
  mix-blend-mode: luminosity;
  transform: translate(50%, -50%);
  opacity: 40%;
}
.faq .use-cases-wrapper .use-cases {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  display: flex;
  max-width: 86vw;
  justify-content: space-between;
  gap: 0;
}
.faq .use-cases-wrapper .use-cases .block-name-case {
  z-index: 1;
  position: relative;
  overflow-y: hidden;
  height: 100%;
  width: 13vw;
}
.faq .use-cases-wrapper .use-cases .block-name-case .block-title p {
  font-size: 17px;
  font-weight: 300;
}
.faq .use-cases-wrapper .use-cases .use-cases-scroll-left {
  z-index: 1;
  position: relative;
  width: 37vw;
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
  z-index: 2;
  height: 85vh;
  color: white;
}
.faq .use-cases-wrapper .use-cases .use-cases-scroll-left h2.use-cases-title {
  font-size: 46px;
  font-weight: 400;
  line-height: 54px;
  color: white;
}
.faq .use-cases-wrapper .use-cases .use-cases-scroll-left h2.use-cases-title span {
  color: #03a9f4;
}
.faq .use-cases-wrapper .use-cases .use-cases-scroll-left div.use-cases-anchors {
  position: relative;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  color: #fff;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 48px;
  font-size: 18px;
  font-weight: 300;
  line-height: 140%;
  display: flex;
}
.faq .use-cases-wrapper .use-cases .use-cases-scroll-left div.use-cases-anchors a {
  opacity: 0.4;
  font-size: 17px;
  font-weight: 300;
  line-height: 26px;
  color: #fff;
  text-decoration: none;
  transition: ease-in-out 0.3s;
}
.faq .use-cases-wrapper .use-cases .use-cases-scroll-left div.use-cases-anchors a:hover {
  opacity: 1;
}
.faq .use-cases-wrapper .use-cases .use-cases-scroll-right {
  z-index: 1;
  width: 37vw;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 6vh;
  overflow-y: auto;
  height: 75vh;
}
.faq .use-cases-wrapper .use-cases .use-cases-scroll-right::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}
.faq .use-cases-wrapper .use-cases .use-cases-scroll-right .case {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.faq .use-cases-wrapper .use-cases .use-cases-scroll-right .case h3 {
  font-weight: 400;
  font-size: 26px;
  padding: 1.5vh 0;
  margin: 0;
}
.faq .use-cases-wrapper .use-cases .use-cases-scroll-right .case p {
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
}
.faq .use-cases-wrapper .use-cases .use-cases-scroll-right .case img {
  position: relative;
  z-index: 1;
  max-width: 12vw;
  width: 100%;
  /* Adjust values as needed */
  /* Adjust values as needed */
}
.faq .use-cases-wrapper .use-cases .use-cases-cta {
  z-index: 1;
  position: sticky;
  overflow-y: hidden;
  text-align: end;
  width: 13vw;
  height: 80vh;
}
.faq .use-cases-wrapper .use-cases .use-cases-cta .cases-button {
  position: sticky;
  font-size: 15px;
  border: 0;
  padding: 10px 20px;
  outline: none;
  color: #fff;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6392156863);
  border-radius: 6px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.faq .use-cases-wrapper .use-cases .use-cases-cta .cases-button:hover {
  background: #0d2851;
  color: #fff;
  transition: ease-in-out 0.3s;
  transform: scale(0.95);
}
.faq .why-us-wrapper {
  overflow: hidden;
  height: 100vh;
  background-color: #0d2851;
  width: 100vw;
}
.faq .why-us-wrapper .why-us-content h1 {
  font-family: "FigtreeMedium", sans-serif !important;
  color: #fff;
  position: relative;
  z-index: 2;
  line-height: 56px;
  text-align: center;
  font-weight: 400;
  font-size: 50px;
}
.faq .why-us-wrapper .why-us-video {
  position: absolute;
  height: 100vh;
}
.faq .why-us-wrapper .why-us-video video {
  opacity: 75%;
  border-radius: 0px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.faq .services-wrapper {
  background-image: url("https://images.pexels.com/photos/950241/pexels-photo-950241.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 13vh;
  padding-bottom: 13vh;
  height: 100vh;
  grid-template-columns: repeat(3, 28vw);
  width: 100vw;
  margin: 0 auto;
  overflow: hidden;
}
.faq .services-wrapper::before {
  content: "";
  position: absolute;
  top: 400vh;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* Ensure the overlay does not interfere with clicks */
  z-index: 1;
  /* Ensure the overlay is on top of the background image */
}
.faq .services-wrapper .services-cards {
  flex-direction: column;
  display: grid;
  justify-content: center;
  gap: 1vw;
  grid-template-columns: repeat(4, 20vw);
  align-content: center;
}
.faq .services-wrapper .services-cards .card {
  display: flex;
  z-index: 2;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.2941176471);
  border: 1px solid #fff;
  height: 40vh;
  align-items: center;
}
.faq .services-wrapper .services-cards .card .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
  padding: 24px;
}
.faq .services-wrapper .services-cards .card .content h2 {
  font-size: 24px;
  font-weight: 400;
}
.faq .services-wrapper .services-cards .card .content img {
  width: 100%;
  max-width: 5vw;
  max-height: 5vw;
}
.faq .services-wrapper .services-cards .card .content p {
  font-weight: 300;
  font-size: 17px;
}
.faq .services-wrapper .services-cards .card .content a {
  text-decoration: none;
  position: relative;
  font-size: 15px;
  border: 0;
  padding: 10px 10px;
  max-width: 7vw;
  text-align: center;
  outline: none;
  color: #0d2851;
  background: transparent;
  border: 1px solid #0d2851;
  border-radius: 6px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.faq .services-wrapper .services-cards .card .content a:hover {
  background: #0d2851;
  color: #fff;
  transition: ease-in-out 0.3s;
  transform: scale(0.95);
}
.faq .launch-wrapper {
  justify-content: flex-start;
  display: flex;
  height: 65vh;
  width: 100vw;
  padding-left: 7vw;
}
.faq .launch-wrapper .launch-left {
  padding-top: 13vh;
  padding-bottom: 13vh;
  height: 100%;
  width: 13vw;
}
.faq .launch-wrapper .launch-left .launch-title p {
  font-size: 17px;
  font-weight: 300;
}
.faq .launch-wrapper .launch-center {
  padding-top: 13vh;
  padding-bottom: 13vh;
  padding-right: 5vw;
  width: 38vw;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  z-index: 2;
  color: #0d2851;
}
.faq .launch-wrapper .launch-center h2 {
  font-size: 46px;
  font-weight: 400;
  line-height: 54px;
}
.faq .launch-wrapper .launch-center h2 span {
  color: #03a9f4;
}
.faq .launch-wrapper .launch-center p {
  font-size: 17px;
  font-weight: 300;
  line-height: 26px;
}
.faq .launch-wrapper .launch-right {
  padding: 4vh 5vw;
  width: 45vw;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  display: flex;
}
.faq .launch-wrapper .launch-right .launch-slider .launch-slide h2 {
  font-size: 46px;
  font-weight: 400;
  line-height: 54px;
}
.faq .launch-wrapper .launch-right .launch-slider .launch-slide h2 span {
  color: #03a9f4;
}
.faq .launch-wrapper .launch-right .launch-slider .launch-slide p {
  font-size: 17px;
  font-weight: 300;
  line-height: 26px;
}
.faq .launch-wrapper .launch-right .arrows {
  display: flex;
  z-index: 2;
  gap: 0.5vw;
  justify-content: start;
}
.faq .launch-wrapper .launch-right .arrows .left-arrow,
.faq .launch-wrapper .launch-right .arrows .right-arrow {
  padding: 0.7em 0.8em;
  background-color: #0d2851;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.faq .launch-wrapper .launch-right .arrows .left-arrow:hover, .faq .launch-wrapper .launch-right .arrows .left-arrow:active,
.faq .launch-wrapper .launch-right .arrows .right-arrow:hover,
.faq .launch-wrapper .launch-right .arrows .right-arrow:active {
  background-color: #0d2851;
  opacity: 0.6;
}
.faq .mission-wrapper {
  padding: 13vh 0 20vh 0;
}
.faq .mission-wrapper .photo-bg {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  max-width: 86vw;
  height: 80vh;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-image: url("https://images.pexels.com/photos/5452221/pexels-photo-5452221.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
.faq .mission-wrapper .photo-bg h2 {
  font-size: 44px;
  font-weight: 600;
  padding: 1em;
  color: #fff;
  text-align: right;
}
.faq .mission-wrapper .mission-vision-wrapper {
  max-width: 86vw;
  height: 50vh;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
}
.faq .mission-wrapper .mission-vision-wrapper .mission {
  border-radius: 0px 0px 0px 10px;
  padding: 2em;
  width: 50%;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.faq .mission-wrapper .mission-vision-wrapper .mission h2 {
  font-size: 44px;
  font-weight: 600;
}
.faq .mission-wrapper .mission-vision-wrapper .mission img {
  margin: 0 auto;
  max-width: 10vw;
  width: 100%;
}
.faq .mission-wrapper .mission-vision-wrapper .mission p {
  font-size: 16px;
}
.faq .mission-wrapper .mission-vision-wrapper .vision {
  border-radius: 0px 0px 10px 0px;
  padding: 2em;
  width: 50%;
  background-color: #d5f2ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.faq .mission-wrapper .mission-vision-wrapper .vision h2 {
  font-size: 44px;
  font-weight: 600;
}
.faq .mission-wrapper .mission-vision-wrapper .vision img {
  margin: 0 auto;
  max-width: 10vw;
  width: 100%;
}
.faq .mission-wrapper .mission-vision-wrapper .vision p {
  font-size: 16px;
}
.faq .our-team-wrapper {
  padding-bottom: 20vh;
}
.faq .our-team-wrapper h2 {
  max-width: 86vw;
  margin: 0 auto;
  font-size: 44px;
  padding-bottom: 8vh;
  font-weight: 600;
}
.faq .our-team-wrapper .our-team {
  max-width: 86vw;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.faq .our-team-wrapper .our-team .member {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.faq .our-team-wrapper .our-team .member .profile {
  width: 18vw;
  padding-bottom: 1vh;
}
.faq .our-team-wrapper .our-team .member h3 {
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 10px;
}
.faq .our-team-wrapper .our-team .member p {
  margin: 0;
  font-size: 16px;
  padding-bottom: 10px;
}
.faq .our-team-wrapper .our-team .member .social {
  width: 2vw;
  border-radius: 50%;
}

.know-button {
  position: sticky;
  font-size: 15px;
  border: 0;
  padding: 10px 20px;
  outline: none;
  color: #fff;
  background: #0d2851;
  border: 1px solid #0d2851;
  border-radius: 6px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.know-button:hover {
  transition: ease-in-out 0.3s;
  transform: scale(0.95);
}

.rows {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 60px 0;
}

.side {
  flex-basis: 40%;
  position: relative;
  margin-left: 20px;
}

.button-image {
  width: 0px;
  transition: width 0.25s;
}

.dark {
  background-color: #161625;
}
.dark .dark-mode-toggle {
  background-color: #161625;
}
.dark .dark-mode-toggle .sun {
  display: none;
}
.dark .dark-mode-toggle .moon {
  display: inline-block;
}
.dark h3 {
  color: #fff;
}
.dark .left-side h2 {
  color: #fff;
}
.dark .left-side p {
  color: #9ea5ad;
}
.dark .right-side img.controller {
  display: none;
  width: 90%;
}
.dark .right-side img.controller-dark {
  display: inline;
  width: 90%;
}
.dark .card {
  border: none;
  background-color: #161625;
}
.dark .card .box {
  background: #323f4b;
}
.dark .card .box .content h2 {
  color: #fff;
}
.dark .card .box .content p {
  color: #fff;
}
.dark .card .box .content a {
  background: #03a9f4;
  color: #fff;
}
.dark .jumbo-margin {
  background-color: #131417;
  color: #fff;
}

@media only screen and (max-width: 800px) {
  .rows {
    flex-direction: column-reverse;
    margin: 50px 0;
  }
  .right-side {
    flex-basis: 100%;
    margin-bottom: 50px;
  }
}
.jumbo-margin {
  margin: 0px;
}

@media only screen and (max-width: 900px) {
  .row-faq-us {
    flex-direction: column;
    margin: 0px;
  }
  .faq-img {
    height: 250px;
    width: 250px;
    margin-top: 35px;
  }
}
.faq-img {
  margin-bottom: 20px;
}

.pa-padding {
  padding: 10px 25px;
  font-size: 20px;
  line-height: 150%;
}

.h-size {
  font-size: 40px;
}

.space {
  padding: 0px;
}

.a-link {
  text-decoration: none;
}

.rows {
  margin: 0;
}

@media only screen and (max-width: 576px) {
  .rows {
    padding-top: 12%;
  }
  .case {
    font-size: 30px;
    margin-bottom: 5px;
  }
}/*# sourceMappingURL=faq.component.css.map */