<app-navbar></app-navbar>

<div class="about {{light}}">
    <div class="about-container">
        <!-- <button class="dark-mode-toggle" (click)="toggleNav()">
            <span class="sun">
                <img alt="sun icon that represents light mode" width="35px" src="../../../assets/images/sun.svg">
            </span>
            <span class="moon">
                <img alt="moon icon to represent dark mode " width="25px" src="../../../assets/images/moon.svg">
            </span>
        </button> -->


        <div class="about-hero row align-items-center rows">

            <div class="hero-content">
                <div class="left-side">
                    <h2>Our Story</h2>
                </div>

                <!-- <div class="right-side ">
                    <img src="../../../assets/images/Doctors-dark.png " class="controller-dark " />
                </div> -->

            </div>

        </div>




        <div class="launch-wrapper">
            <div class="launch-left">
                <p class="launch-title">ABOUT US</p>
            </div>
            <div class="launch-center">
                <h2>
                    We’re committed to clear and accurate healthcare solutions for better patient outcomes</h2>
            </div>
            <div class="launch-right">
                <div class="info-group">
                    <div class="info">
                        <h2>2024</h2>
                        <hr>
                        <p>Our company was founded in 2024 as a dedicated healthcare partner for a medical start-up in Indianapolis. </p>
                    </div>
                    <div class="info">
                        <h2>40+ employees
                        </h2>
                        <hr>
                        <p>Our team of 40+ dedicated professionals works tirelessly to research, gather, validate, and convert healthcare data into valuable insights that help healthcare providers worldwide make informed decisions. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mission-wrapper">
            <div class="photo-bg">
                <h2>Committed to Your Care</h2>
            </div>
            <div class="mission-vision-wrapper">
                <div class="mission">
                    <h2>Our Mission</h2>
                    <img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/658c8f21b700e73390898f08_our-mission.svg" alt="">
                    <p>To provide healthcare organizations with clarity by delivering superior patient data and insights.</p>
                </div>
                <div class="vision">
                    <h2>Our Vision</h2>
                    <img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/658f26c70bdc96e9c1c515bf_vision.svg" alt="">
                    <p>To be the leading support organization for healthcare providers, empowering them with data-driven solutions.</p>
                </div>
            </div>
        </div>

        <div class="our-team-wrapper">
            <h2>Our team</h2>
            <div class="our-team">
                <div class="member">
                    <img class="profile" src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/658c93505294877bbd84b561_Mask%20groupteam-new-.png" alt="">
                    <h3>Sarah Wilson</h3>
                    <p>Test</p>
                    <a href="https://www.linkedin.com"><img class="social" src="../../assets/images/linkedin.png" alt=""></a>
                </div>
                <div class="member">
                    <img class="profile" src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/658c930d157481a90673d4bd_Mask%20groupteam-new%20-%201.png" alt="">
                    <h3>Alison Pitt</h3>
                    <p>Test</p>
                    <a href="https://www.linkedin.com"><img class="social" src="../../assets/images/linkedin.png" alt=""></a>
                </div>
                <div class="member">
                    <img class="profile" src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/658c933786303d8f3af6c4f9_Mask%20groupteam-new--2.png" alt="">
                    <h3>Katerina Green</h3>
                    <p>Test</p>
                    <a href="https://www.linkedin.com"><img class="social" src="../../assets/images/linkedin.png" alt=""></a>
                </div>
                <div class="member">
                    <img class="profile" src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/658c9341726609bfb8d7c691_Mask%20groupteam-new--3.png" alt="">
                    <h3>John Peterson</h3>
                    <p>Test</p>
                    <a href="https://www.linkedin.com"><img class="social" src="../../assets/images/linkedin.png" alt=""></a>
                </div>
            </div>
        </div>





    </div>
</div>

<app-footer></app-footer>