<app-navbar></app-navbar>

<div class="about {{light}}">
    <div class="about-container">
        <!-- <button class="dark-mode-toggle" (click)="toggleNav()">
            <span class="sun">
                <img alt="sun icon that represents light mode" width="35px" src="../../../assets/images/sun.svg">
            </span>
            <span class="moon">
                <img alt="moon icon to represent dark mode " width="25px" src="../../../assets/images/moon.svg">
            </span>
        </button> -->


        <div class="about-hero row align-items-center rows">

            <div class="hero-content">
                <div class="left-side">
                    <h2>Our Story</h2>
                </div>

                <!-- <div class="right-side ">
                    <img src="../../../assets/images/Doctors-dark.png " class="controller-dark " />
                </div> -->

            </div>

        </div>




        <div class="launch-wrapper">
            <div class="launch-left">
                <p class="launch-title">APPROACH</p>
            </div>
            <div class="launch-center">
                <h2>
                    Guaranteed Launch <br><span>In 30 Days</span></h2>
                <p>In today's information-centred world, data is a fundamental tool, empowering companies to gain insights, improve operations, adapt to changing market conditions, and ultimately thrive in their respective industries. We understand the value
                    of quality data, so we help our clients to offload the labor-intensive task of data entry to skilled professionals.
                </p>
            </div>
            <div class="launch-right">
                <div class="arrows">
                    <div class="left-arrow"><img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/65802c7607cfeea33cc1dd3d_arrow-left-slider.svg" alt=""></div>
                    <div class="right-arrow"><img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/65802c54b6edeaa23655a51a_arrow-right-slider.svg" alt=""></div>
                </div>
            </div>
        </div>
        <div class="mission-wrapper">
            <div class="photo-bg">
                <h2>Committed to Your Care</h2>
            </div>
            <div class="mission-vision-wrapper">
                <div class="mission">
                    <h2>Our Mission</h2>
                    <img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/658c8f21b700e73390898f08_our-mission.svg" alt="">
                    <p>To provide businesses with clarity by supplying superior data.</p>
                </div>
                <div class="vision">
                    <h2>Our Vision</h2>
                    <img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/658f26c70bdc96e9c1c515bf_vision.svg" alt="">
                    <p>To be the information and support organisation of choice for growing data-driven businesses.</p>
                </div>
            </div>
        </div>

        <div class="our-team-wrapper">
            <h2>Our team</h2>
            <div class="our-team">
                <div class="member">
                    <img class="profile" src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/658c93505294877bbd84b561_Mask%20groupteam-new-.png" alt="">
                    <h3>Test</h3>
                    <p>Test</p>
                    <img class="social" src="../../assets/images/linkedin.png" alt=""></div>
                <div class="member">
                    <img class="profile" src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/658c930d157481a90673d4bd_Mask%20groupteam-new%20-%201.png" alt="">
                    <h3>Test</h3>
                    <p>Test</p>
                    <img class="social" src="../../assets/images/linkedin.png" alt=""></div>
                <div class="member">
                    <img class="profile" src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/658c933786303d8f3af6c4f9_Mask%20groupteam-new--2.png" alt="">
                    <h3>Test</h3>
                    <p>Test</p>
                    <img class="social" src="../../assets/images/linkedin.png" alt=""></div>
                <div class="member">
                    <img class="profile" src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/658c9341726609bfb8d7c691_Mask%20groupteam-new--3.png" alt="">
                    <h3>Test</h3>
                    <p>Test</p>
                    <img class="social" src="../../assets/images/linkedin.png" alt=""></div>
            </div>
        </div>





    </div>
</div>

<app-footer></app-footer>