.container {
  background-color: transparent;
  transition: background-color 0.3s ease;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  margin: 0 auto;
  padding: 0;
}

/* Navbar style when scrolled past the first change point */
#container.scrolled {
  background-color: white;
}

#container.scrolled-blue .navbar {
  box-shadow: 0 -1px rgba(255, 255, 255, 0.4431372549) inset;
}

.nav-link,
.navbar-logo-text {
  transition: color 0.5s ease;
}

.nav-link.white,
.navbar-logo-text.white {
  color: white;
}

.nav-link.blue,
.navbar-logo-text.blue {
  color: #0d2851;
  /* Assuming $blue is a CSS variable or you can replace it with the actual color value */
}

/* Change color when scrolled past a certain point */
/* Change color when in .use-cases-wrapper */
#container.scrolled-blue {
  background-color: #0d2851;
}

a:hover {
  border-radius: 4px !important;
  transition: 0.5s ease !important;
}

.navbar {
  box-shadow: 0 -1px rgba(13, 40, 81, 0.4431372549) inset;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  margin: 0 auto;
  max-width: 86vw;
  position: relative;
  z-index: 100;
}
.navbar .navbar-brand-dark {
  display: none;
}
.navbar-nav {
  -moz-column-gap: 50px;
       column-gap: 50px;
  align-items: center;
}
.navbar-nav li a {
  font-weight: 300;
}
.navbar-logo {
  max-height: 7vh;
}
.navbar-logo p {
  font-size: 12px;
  font-weight: 300;
}
.navbar-logo p span {
  font-size: 26px;
  font-weight: 600;
}

.bg-light {
  background-color: rgba(255, 255, 255, 0) !important;
}

.itemActive {
  background-color: rgba(125, 160, 250, 0.5764705882) !important;
  border-radius: 4px !important;
  transition: 0.1s ease !important;
}

.nav-link {
  font-weight: 500;
  font-size: 118%;
  justify-content: center;
  text-align: center;
  position: relative;
  display: inline-block;
  font-size: 16px;
  padding: 2px 0;
  text-decoration: none;
  /* Adjust color as needed */
}

a.nav-link {
  padding: 0 !important;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.8px;
  /* Adjust height as needed */
  width: 0;
  background-color: #378fec;
  /* Adjust color as needed */
  transition: width 0.5s ease;
}

.nav-button {
  font-size: 15px;
  border: 0;
  padding: 10px 20px;
  outline: none;
  color: #0d2851;
  background: transparent;
  border: 1px solid #0d2851;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.nav-button:hover {
  background: #0d2851;
  color: #fff;
  transition: ease-in-out 0.3s;
  transform: scale(0.95);
}

/* Added Hover Effect on Navigation links */
.nav-link:hover::after {
  width: 100%;
}

button.navbar-toggler {
  border: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.container {
  max-width: none;
}

.dark {
  background-color: #131417 !important;
}
.dark .navbar {
  background-color: #131417 !important;
}
.dark a {
  color: #fff !important;
}
.dark a:hover {
  background-color: #CD104D !important;
  border-radius: 4px !important;
  transition: 0.1s ease !important;
}

@media (max-width: 991px) {
  .nav-link {
    margin-top: 10px;
    padding: 1rem 1rem;
  }
}/*# sourceMappingURL=navbar.component.css.map */