<div class="container {{light}}" id="container">
    <nav class="navbar d-flex justify-content-between align-items-center navbar-expand-lg {{navbarcolour}} bg-light">
        <div class="navbar-logo d-flex align-items-center">
            <a class="navbar-brand grow" href="/home"><img src='../../../assets/images/serenity.png' width="50px"></a>
            <p class="navbar-logo-text pt-4"><span>Serenity</span><br>Care Services</p>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li><a class="nav-link" href="/about">About Us</a></li>
                <li><a class="nav-link" href="/services">Services</a></li>
                <li><a class="nav-link" href="/careers">Careers</a></li>
                <li><a class="nav-link" href="/faq">FAQ</a></li>
            </ul>
        </div>
        <a (click)="navToElement('r')" class="a-link ">
            <button class="nav-button ">
                Patient Hub
            </button>
        </a>
    </nav>
</div>