<app-navbar></app-navbar>

<div class="home {{light}}">
    <div class="home-container">
        <!-- <button class="dark-mode-toggle" (click)="toggleNav()">
            <span class="sun">
                <img alt="sun icon that represents light mode" width="35px" src="../../../assets/images/sun.svg">
            </span>
            <span class="moon">
                <img alt="moon icon to represent dark mode " width="25px" src="../../../assets/images/moon.svg">
            </span>
        </button> -->


        <div class="hero">
            <div class="hero-video">
                <video autoplay loop>
                    <source src="../../../assets/videos/9150545-hd_1920_1080_24fps.mp4" type="video/mp4">
                    <!-- Add additional source tags for different video formats if needed -->
                </video>
            </div>
            <div class="hero-content">
                <div class="left-side">

                    <h2>Experience Compassionate Hospital Care and Advanced Medical Services</h2>
                    <p>
                        Serenity Care Services provides personalized care to meet every patient’s needs. We’re here to support your health every step of the way.
                    </p>
                    <a href="/about" class="a-link ">
                        <button class="know-button ">
                            Learn More
                        </button>
                    </a>
                </div>

                <!-- <div class="right-side ">
                    <img src="../../../assets/images/Doctors-dark.png " class="controller-dark " />
                </div> -->

            </div>

        </div>

        <div class="approach-wrapper" id="a">
            <div class="block-name">
                <p class="block-title">APPROACH</p>
            </div>
            <div class="approach-wrapper-center">
                <h2>
                    We help healthcare providers and facilities excel by enhancing patient care and <span>operational efficiency</span>
                </h2>
                <p>In today’s healthcare landscape, quality care and streamlined processes are essential for delivering the best outcomes. We partner with healthcare organizations to support their efforts in improving patient experiences, optimizing services,
                    and adapting to the changing needs of the industry.
                </p>
            </div>
            <div class="approach-wrapper-right"><img src="../../../assets/images/health.jpg" alt="Our Approach Image">
            </div>

        </div>

        <div class="use-cases-wrapper" id="h">
            <div class="use-cases">
                <!-- <div class="wave"><img src="../../../assets/images/wave-alt.png" alt="Background Image"></div> -->
                <div class="block-name-case">
                    <p class="block-title">PRACTICAL DATA<br> ANALYSIS USE CASES
                    </p>
                </div>
                <div class="use-cases-scroll-left">
                    <h2 class="use-cases-title">
                        Healthcare Services
                    </h2>
                    <div class="use-cases-anchors">
                        <a href="#emergency-care">Emergency Care</a>
                        <a href="#surgical-services">Surgical Services</a>
                        <a href="#maternity-care">Maternity Care</a>
                        <a href="#icu">Intensive Care Unit (ICU)</a>
                        <a href="#diagnostic-imaging">Diagnostic Imaging</a>
                        <a href="#outpatient-services">Outpatient Services</a>
                        <a href="#laboratory-services">Laboratory Services</a>
                        <a href="#rehabilitation-services">Rehabilitation Services</a>
                    </div>
                </div>
                <div class="use-cases-scroll-right">
                    <div class="case" id="emergency-care">
                        <img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/658f2ff32af0468efd800069_1-data-blue.svg" alt="Emergency Care Image">
                        <h3>Emergency Care</h3>
                        <p>Our Emergency Care department is equipped to handle critical situations 24/7. Our skilled team of doctors and nurses are ready to provide immediate care for all types of emergencies, ensuring that patients receive the best possible
                            treatment quickly.</p>
                    </div>
                    <div class="case" id="surgical-services">
                        <img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/658f2fb7582e5f01dce1e842_data-blue.svg" alt="Surgical Services Image">
                        <h3>Surgical Services</h3>
                        <p>Our Surgical Services include a wide range of procedures from minimally invasive surgery to complex operations. Our experienced surgeons and state-of-the-art operating rooms ensure the highest standards of care.</p>
                    </div>
                    <div class="case" id="maternity-care">
                        <img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/658f36eb450dce9802f742bf_gather-1%201.svg" alt="Maternity Care Image">
                        <h3>Maternity Care</h3>
                        <p>Our Maternity Care offers a comprehensive program from prenatal care to delivery and postpartum support. We are committed to ensuring a safe and comfortable experience for both mother and baby.</p>
                    </div>
                    <div class="case" id="icu">
                        <img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/658f309506dcc2da63209041_gather-data.svg" alt="ICU Image">
                        <h3>Intensive Care Unit (ICU)</h3>
                        <p>The Intensive Care Unit (ICU) provides specialized care for patients with severe or life-threatening illnesses and injuries. Our multidisciplinary team uses advanced technology to monitor and treat patients 24 hours a day.</p>
                    </div>
                    <div class="case" id="diagnostic-imaging">
                        <img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/658f25a8d7d409840bad3853_vision.svg" alt="Diagnostic Imaging Image">
                        <h3>Diagnostic Imaging</h3>
                        <p>Our Diagnostic Imaging services offer a comprehensive range of tests including X-rays, MRI, CT scans, and ultrasounds. These tools help in the accurate diagnosis and treatment planning for various conditions.</p>
                    </div>
                    <div class="case" id="outpatient-services">
                        <img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/658f365f64fab3a7296ad1cd_custom.svg" alt="Outpatient Services Image">
                        <h3>Outpatient Services</h3>
                        <p>Our Outpatient Services provide a variety of treatments and procedures that do not require an overnight stay. From minor surgeries to therapy sessions, we ensure a smooth and convenient experience for our patients.</p>
                    </div>
                    <div class="case" id="laboratory-services">
                        <img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/658f365f64fab3a7296ad1cd_custom.svg" alt="Laboratory Services Image">
                        <h3>Laboratory Services</h3>
                        <p>Our Laboratory Services offer a full range of tests including blood work, biopsies, and other diagnostic services. Our labs are equipped with the latest technology to provide fast and accurate results.</p>
                    </div>
                    <div class="case" id="rehabilitation-services">
                        <img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/658f365f64fab3a7296ad1cd_custom.svg" alt="Rehabilitation Services Image">
                        <h3>Rehabilitation Services</h3>
                        <p>Our Rehabilitation Services help patients recover from surgery, injury, or illness. We offer physical, occupational, and speech therapy tailored to each patient’s needs to restore their health and improve their quality of life.</p>
                    </div>
                </div>

                <div class="use-cases-cta">
                    <a href="/our-services" class="a-link ">
                        <button class="cases-button ">
                            Explore Services
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <div class="why-us-wrapper row align-items-center rows">
            <div class="why-us-video">
                <video autoplay loop>
                    <source src="../../../assets/videos/7423845-uhd_3840_2160_30fps.mp4" type="video/mp4">
                    <!-- Add additional source tags for different video formats if needed -->
                </video>
            </div>
            <div class="why-us-content">
                <h1>4+ years of experience managing and <br>helping patients receive better care</h1>
            </div>
        </div>
        <!-- <div class="services-wrapper" id="r">
            <div class="services-cards">
                <div class="card">
                    <div class="content">
                        <h2>Emergency Care</h2>
                        <img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/657c5b866e9c1804fc9061ff_europe-based.svg" alt="">
                        <p>
                            An user-friendly interface for our partner hospitals, where they can add a spate of services.
                        </p>

                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h2>Surgical</h2>
                        <img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/657c84f50e65d8749e081a4a_Group%2050.svg" alt="">
                        <p>
                            An user-friendly interface for our partner hospitals, where they can add a spate of services.
                        </p>

                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h2>Maternity Care</h2>
                        <img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/657c85bf091f1a6247c0c6b1_Group%2052.svg" alt="">
                        <p>
                            An user-friendly interface for our partner hospitals, where they can add a spate of services.
                        </p>

                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h2>Intensive Care Unit</h2>
                        <img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/657c85c8e3c3503fdb88bfef_70specialists.svg" alt="">
                        <p>
                            An user-friendly interface for our partner hospitals, where they can add a spate of services.
                        </p>

                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h2>Diagnostic Imaging</h2>
                        <img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/657c5b866e9c1804fc9061ff_europe-based.svg" alt="">
                        <p>
                            An user-friendly interface for our partner hospitals, where they can add a spate of services.
                        </p>

                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h2>Outpatient</h2>
                        <img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/657c5b866e9c1804fc9061ff_europe-based.svg" alt="">
                        <p>
                            An user-friendly interface for our partner hospitals, where they can add a spate of services.
                        </p>

                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h2>Laboratory</h2>
                        <img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/657c5b866e9c1804fc9061ff_europe-based.svg" alt="">
                        <p>
                            An user-friendly interface for our partner hospitals, where they can add a spate of services.
                        </p>

                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h2>Rehabilitation</h2>
                        <img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/657c5b866e9c1804fc9061ff_europe-based.svg" alt="">
                        <p>
                            An user-friendly interface for our partner hospitals, where they can add a spate of services.
                        </p>

                    </div>
                </div>
            </div>
            <div class="a-link ">
                <button class="nav-button">
                   Contact us
                </button>
            </div>
        </div> -->

        <div class="launch-wrapper">
            <div class="launch-left">
                <p class="launch-title">PROCESS</p>
            </div>
            <div class="launch-center">
                <h2>
                    Book Your Appointment <br><span>In Just 5 Easy Steps</span></h2>
                <p>Scheduling a healthcare appointment should be straightforward and stress-free. Follow our simple steps to ensure your appointment is set up quickly and conveniently. We’re here to guide you through the process and make sure everything
                    is handled with care.</p>
            </div>
            <div class="launch-right">
                <div class="launch-slider">
                    <div class="launch-slide">
                        <p>STEP 01</p>
                        <h2>Contact Us</h2>
                        <p>Reach out to us via phone or our online booking system to start the appointment process.</p>
                    </div>
                    <div class="launch-slide">
                        <p>STEP 02</p>
                        <h2>Choose a Date</h2>
                        <p>Select a date and time that works best for you from our available slots.</p>
                    </div>
                    <div class="launch-slide">
                        <p>STEP 03</p>
                        <h2>Provide Details</h2>
                        <p>Share your health concerns and any necessary medical history to help us prepare for your visit.</p>
                    </div>
                    <div class="launch-slide">
                        <p>STEP 04</p>
                        <h2>Confirm Appointment</h2>
                        <p>Review the appointment details and confirm your booking to secure your spot.</p>
                    </div>
                    <div class="launch-slide">
                        <p>STEP 05</p>
                        <h2>Attend Appointment</h2>
                        <p>Come to your appointment on the scheduled date and time, and receive the care you need.</p>
                    </div>
                </div>

                <div class="arrows">
                    <div class="left-arrow"><img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/65802c7607cfeea33cc1dd3d_arrow-left-slider.svg" alt="Left Arrow"></div>
                    <div class="right-arrow"><img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/65802c54b6edeaa23655a51a_arrow-right-slider.svg" alt="Right Arrow"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>