<app-navbar></app-navbar>

<div class="home {{light}}">
    <div class="home-container">
        <!-- <button class="dark-mode-toggle" (click)="toggleNav()">
            <span class="sun">
                <img alt="sun icon that represents light mode" width="35px" src="../../../assets/images/sun.svg">
            </span>
            <span class="moon">
                <img alt="moon icon to represent dark mode " width="25px" src="../../../assets/images/moon.svg">
            </span>
        </button> -->


        <div class="hero row align-items-center rows">
            <div class="hero-video">
                <video autoplay loop>
                    <source src="../../../assets/videos/9150545-hd_1920_1080_24fps.mp4" type="video/mp4">
                    <!-- Add additional source tags for different video formats if needed -->
                </video>
            </div>
            <div class="hero-content">
                <div class="left-side">
                    <p>
                        QUALITY DATA & EFFICIENT OUTSOURCING
                    </p>
                    <h2>Providing businesses with clarity by supplying superior data</h2>
                    <p>
                        Focus on scaling your business while minimizing costs. Transform your data into a strategic asset with Claro's high-quality outsourcing services.
                    </p>
                    <a (click)="navToElement('r')" class="a-link ">
                        <button class="know-button ">
                            Get A Quote
                        </button>
                    </a>
                </div>

                <!-- <div class="right-side ">
                    <img src="../../../assets/images/Doctors-dark.png " class="controller-dark " />
                </div> -->

            </div>

        </div>
        <br />
        <br>
        <br>
        <div class="approach-wrapper" id="r">
            <div class="block-name">
                <p class="block-title">APPROACH</p>
            </div>
            <div class="approach-wrapper-center">
                <h2>
                    We enable businesses & startups to thrive by translating complex data into <span>actionable insights</span></h2>
                <p>In today's information-centred world, data is a fundamental tool, empowering companies to gain insights, improve operations, adapt to changing market conditions, and ultimately thrive in their respective industries. We understand the value
                    of quality data, so we help our clients to offload the labor-intensive task of data entry to skilled professionals.
                </p>
            </div>
            <div class="approach-wrapper-right"><img src="../../../assets/images/health.jpg" alt="Our Approach Image"></div>

        </div>
        <br />
        <br />
        <br />
        <div class="jumbotron jumbo-margin " id="w" #about>
            <div class="row ">
                <div class="col-12 ">
                    <h1 class="display-4 text-center h-size ">Who Are We?</h1>
                </div>
            </div>
            <div class="row align-items-center row-about-us ">
                <div class="col-sm-3 col-md-3 about-img ">
                    <img src="../../../assets/images/who-we-are.png " class="img-fluid grow " />
                </div>
                <div class="col-sm-9 col-md-9 space ">
                    <p class="pa-padding ">
                        This pandemic has literally brought everyone on their knees, the despair and despondency that shrouded the country during covid gave us the motive to calibrate technology and help people out of these unprecedented times. Team hospital tries to provide
                        its users with a service-based distinction of our partner hospitals from all across the country. What really keeps us going is a belief that one day we will make the notion of "hospitals at your fingertips " true.
                    </p>
                </div>
            </div>
        </div>
        <div class="services" id="r">
            <div class="services-cards">
                <div class="card">
                    <div class="box ">
                        <div class="content">
                            <h2>Hospitals</h2>
                            <p>
                                An user-friendly interface for our partner hospitals, where they can add a spate of services.
                            </p>
                            <a routerLink="/hospital-login">Try Now</a>
                        </div>
                    </div>
                </div>
                <div class="card ">
                    <div class="box ">
                        <div class="content ">
                            <h2>Hospitals</h2>
                            <p>
                                An user-friendly interface for our partner hospitals, where they can add a spate of services.
                            </p>
                            <a routerLink="/hospital-login">Try Now</a>
                        </div>
                    </div>
                </div>
                <div class="card ">
                    <div class="box ">
                        <div class="content ">
                            <h2>Hospitals</h2>
                            <p>
                                An user-friendly interface for our partner hospitals, where they can add a spate of services.
                            </p>
                            <a routerLink="/hospital-login">Try Now</a>
                        </div>
                    </div>
                </div>
                <div class="card ">
                    <div class="box ">
                        <div class="content ">
                            <h2>Hospitals</h2>
                            <p>
                                An user-friendly interface for our partner hospitals, where they can add a spate of services.
                            </p>
                            <a routerLink="/hospital-login">Try Now</a>
                        </div>
                    </div>
                </div>
                <div class="card ">
                    <div class="box ">
                        <div class="content ">
                            <h2>Hospitals</h2>
                            <p>
                                An user-friendly interface for our partner hospitals, where they can add a spate of services.
                            </p>
                            <a routerLink="/hospital-login">Try Now</a>
                        </div>
                    </div>
                </div>
                <div class="card ">
                    <div class="box ">
                        <div class="content ">
                            <h2>Hospitals</h2>
                            <p>
                                An user-friendly interface for our partner hospitals, where they can add a spate of services.
                            </p>
                            <a routerLink="/hospital-login">Try Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>