<app-navbar></app-navbar>

<div class="home {{light}}">
    <div class="home-container">
        <!-- <button class="dark-mode-toggle" (click)="toggleNav()">
            <span class="sun">
                <img alt="sun icon that represents light mode" width="35px" src="../../../assets/images/sun.svg">
            </span>
            <span class="moon">
                <img alt="moon icon to represent dark mode " width="25px" src="../../../assets/images/moon.svg">
            </span>
        </button> -->


        <div class="hero row align-items-center rows">
            <div class="hero-video">
                <video autoplay loop>
                    <source src="../../../assets/videos/9150545-hd_1920_1080_24fps.mp4" type="video/mp4">
                    <!-- Add additional source tags for different video formats if needed -->
                </video>
            </div>
            <div class="hero-content">
                <div class="left-side">
                    <p>
                        QUALITY DATA & EFFICIENT OUTSOURCING
                    </p>
                    <h2>Providing businesses with clarity by supplying superior data</h2>
                    <p>
                        Focus on scaling your business while minimizing costs. Transform your data into a strategic asset with Claro's high-quality outsourcing services.
                    </p>
                    <a (click)="navToElement('r')" class="a-link ">
                        <button class="know-button ">
                            Get A Quote
                        </button>
                    </a>
                </div>

                <!-- <div class="right-side ">
                    <img src="../../../assets/images/Doctors-dark.png " class="controller-dark " />
                </div> -->

            </div>

        </div>

        <div class="approach-wrapper" id="a">
            <div class="block-name">
                <p class="block-title">APPROACH</p>
            </div>
            <div class="approach-wrapper-center">
                <h2>
                    We enable businesses & startups to thrive by translating complex data into <span>actionable
                        insights</span></h2>
                <p>In today's information-centred world, data is a fundamental tool, empowering companies to gain insights, improve operations, adapt to changing market conditions, and ultimately thrive in their respective industries. We understand the value
                    of quality data, so we help our clients to offload the labor-intensive task of data entry to skilled professionals.
                </p>
            </div>
            <div class="approach-wrapper-right"><img src="../../../assets/images/health.jpg" alt="Our Approach Image">
            </div>

        </div>

        <div class="use-cases-wrapper" id="h">
            <div class="use-cases">
                <!-- <div class="wave"><img src="../../../assets/images/wave-alt.png" alt="Background Image"></div> -->
                <div class="block-name-case">
                    <p class="block-title">PRACTICAL DATA<br> ANALYSIS USE CASES
                    </p>
                </div>
                <div class="use-cases-scroll-left">
                    <h2 class="use-cases-title">
                        Unlock insights<br>with data</h2>
                    <div class="use-cases-anchors">
                        <a href="#data-risk">Data and Risk Monitoring</a>
                        <a href="#data-collection">Data and Risk Monitoring</a>
                        <a href="#machine-learning">Data and Risk Monitoring</a>
                        <a href="#customer">Data and Risk Monitoring</a>
                        <a href="#target">Data and Risk Monitoring</a>
                    </div>
                </div>
                <div class="use-cases-scroll-right">
                    <div class="case"><img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/657b4c7cd859d83abfbfd4e8_data-risk.svg" alt="Our Approach Image">
                        <h3>Data and Risk Monitoring</h3>
                        <p>Notice meaningful changes in your sets of data as we track them by criteria that are relevant to your business.</p>
                    </div>
                    <div class="case"><img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/657b4c7cd859d83abfbfd4e8_data-risk.svg" alt="Our Approach Image">
                        <h3>Data and Risk Monitoring</h3>
                        <p>Notice meaningful changes in your sets of data as we track them by criteria that are relevant to your business.</p>
                    </div>
                    <div class="case"><img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/657b4c7cd859d83abfbfd4e8_data-risk.svg" alt="Our Approach Image">
                        <h3>Data and Risk Monitoring</h3>
                        <p>Notice meaningful changes in your sets of data as we track them by criteria that are relevant to your business.</p>
                    </div>
                    <div class="case"><img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/657b4c7cd859d83abfbfd4e8_data-risk.svg" alt="Our Approach Image">
                        <h3>Data and Risk Monitoring</h3>
                        <p>Notice meaningful changes in your sets of data as we track them by criteria that are relevant to your business.</p>
                    </div>
                    <div class="case"><img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/657b4c7cd859d83abfbfd4e8_data-risk.svg" alt="Our Approach Image">
                        <h3>Data and Risk Monitoring</h3>
                        <p>Notice meaningful changes in your sets of data as we track them by criteria that are relevant to your business.</p>
                    </div>
                </div>
                <div class="use-cases-cta">
                    <a (click)="navToElement('r')" class="a-link ">
                        <button class="cases-button ">
                            Explore Services
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <div class="why-us-wrapper row align-items-center rows">
            <div class="why-us-video">
                <video autoplay loop>
                    <source src="../../../assets/videos/7423845-uhd_3840_2160_30fps.mp4" type="video/mp4">
                    <!-- Add additional source tags for different video formats if needed -->
                </video>
            </div>
            <div class="why-us-content">
                <h1>7 years of experience with<br>50+ types of data processed</h1>
            </div>
        </div>
        <div class="services-wrapper" id="r">
            <div class="services-cards">
                <div class="card">
                    <div class="content">
                        <h2>Emergency Care</h2>
                        <img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/657c5b866e9c1804fc9061ff_europe-based.svg" alt="">
                        <p>
                            An user-friendly interface for our partner hospitals, where they can add a spate of services.
                        </p>
                        <a routerLink="/hospital-login">Learn More</a>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h2>Surgical</h2>
                        <img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/657c84f50e65d8749e081a4a_Group%2050.svg" alt="">
                        <p>
                            An user-friendly interface for our partner hospitals, where they can add a spate of services.
                        </p>
                        <a routerLink="/hospital-login">Learn More</a>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h2>Maternity Care</h2>
                        <img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/657c85bf091f1a6247c0c6b1_Group%2052.svg" alt="">
                        <p>
                            An user-friendly interface for our partner hospitals, where they can add a spate of services.
                        </p>
                        <a routerLink="/hospital-login">Learn More</a>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h2>Intensive Care Unit</h2>
                        <img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/657c85c8e3c3503fdb88bfef_70specialists.svg" alt="">
                        <p>
                            An user-friendly interface for our partner hospitals, where they can add a spate of services.
                        </p>
                        <a routerLink="/hospital-login">Learn More</a>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h2>Diagnostic Imaging</h2>
                        <img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/657c5b866e9c1804fc9061ff_europe-based.svg" alt="">
                        <p>
                            An user-friendly interface for our partner hospitals, where they can add a spate of services.
                        </p>
                        <a routerLink="/hospital-login">Learn More</a>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h2>Outpatient</h2>
                        <img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/657c5b866e9c1804fc9061ff_europe-based.svg" alt="">
                        <p>
                            An user-friendly interface for our partner hospitals, where they can add a spate of services.
                        </p>
                        <a routerLink="/hospital-login">Learn More</a>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h2>Laboratory</h2>
                        <img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/657c5b866e9c1804fc9061ff_europe-based.svg" alt="">
                        <p>
                            An user-friendly interface for our partner hospitals, where they can add a spate of services.
                        </p>
                        <a routerLink="/hospital-login">Learn More</a>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h2>Rehabilitation</h2>
                        <img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/657c5b866e9c1804fc9061ff_europe-based.svg" alt="">
                        <p>
                            An user-friendly interface for our partner hospitals, where they can add a spate of services.
                        </p>
                        <a routerLink="/hospital-login">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="launch-wrapper">
            <div class="launch-left">
                <p class="launch-title">APPROACH</p>
            </div>
            <div class="launch-center">
                <h2>
                    Guaranteed Launch <br><span>In 30 Days</span></h2>
                <p>In today's information-centred world, data is a fundamental tool, empowering companies to gain insights, improve operations, adapt to changing market conditions, and ultimately thrive in their respective industries. We understand the value
                    of quality data, so we help our clients to offload the labor-intensive task of data entry to skilled professionals.
                </p>
            </div>
            <div class="launch-right">
                <div class="launch-slider">
                    <div class="launch-slide">
                        <p>STEP 01</p>
                        <h2>Planning</h2>
                        <p>We help you plan the launch effectively to ensure a smooth start.</p>
                    </div>
                    <div class="launch-slide">
                        <p>STEP 02</p>
                        <h2>Development</h2>
                        <p>Our team works on developing the necessary features for a successful launch.</p>
                    </div>
                    <div class="launch-slide">
                        <p>STEP 03</p>
                        <h2>Testing</h2>
                        <p>We thoroughly test the systems to eliminate any potential issues.</p>
                    </div>
                    <div class="launch-slide">
                        <p>STEP 04</p>
                        <h2>Training</h2>
                        <p>We onboard and train the selected candidates so that the team is fully functional at the launch.
                        </p>
                    </div>
                    <div class="launch-slide">
                        <p>STEP 05</p>
                        <h2>Launch</h2>
                        <p>The team is ready, and the launch is executed seamlessly.</p>
                    </div>
                </div>

                <div class="arrows">
                    <div class="left-arrow"><img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/65802c7607cfeea33cc1dd3d_arrow-left-slider.svg" alt=""></div>
                    <div class="right-arrow"><img src="https://cdn.prod.website-files.com/65732dcfe6d93ffbc62f274b/65802c54b6edeaa23655a51a_arrow-right-slider.svg" alt=""></div>
                </div>
            </div>



        </div>





    </div>
</div>

<app-footer></app-footer>